:host {
    height: 80vh;
    width: 100%;
    min-height: 80vh;
    display: block;
    background-color: #b8c2cc;
}

h2{
    text-align: center;
    margin-top: 0px;
    text-decoration: underline;
}