<!-- Toolbar -->
<div class="toolbar" role="banner">
  
  <span>Welcome</span>
    <div class="spacer"></div>
    <div class="logo">
        <a aria-label="LinkedIn" target="_blank" href="https://www.linkedin.com/in/daniel-molder-025154175/">
            <img src = "../assets/In-White-21.png" height="50px" title="LinkedIn"
            alt="Link to my LinkedIn profile.">
        </a>
    </div>
    <div class="logo">
        <a aria-label="Github" target="_blank" href="https://github.com/dmolder/">
            <img src = "../assets/github-mark-white.png" height="50px" title="Github"
            alt="Link to my personal github user profile.">
        </a>
    </div>
</div>


<div class="content" role="main">
    <nav>
        <ul>
          <li><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a></li>
          <li><a routerLink="/experience" routerLinkActive="active" ariaCurrentWhenActive="page">Experience</a></li>
        </ul>
    </nav>
  <footer>      
  </footer>

</div>

<router-outlet></router-outlet>
