<!-- Toolbar -->
<!DOCTYPE="HTML">
<div class="toolbar" role="banner">
    <div></div>
    <div class="spacer"></div>
    <div class="name">
        <h1>Daniel Molder</h1>
        <h1>Software Engineer/Data Analyst</h1>
    </div>
    <div class="spacer"></div>
    <div class="logo">
        <a aria-label="LinkedIn" target="_blank" href="https://www.linkedin.com/in/daniel-molder-025154175/">
            <img src = "../assets/In-White-48.png"  title="LinkedIn"
            alt="Link to my LinkedIn profile.">
        </a>
    </div>
    <div class="logo">
        <a aria-label="Github" target="_blank" href="https://github.com/dmolder/">
            <img src = "../assets/github-mark-white.png" height="48px" title="Github"
            alt="Link to my personal github user profile.">
        </a>
    </div>
</div>


<div class="content" role="main">
    <nav>
        <div class = 'menu'>
            <ul>
                <li><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">
                    <img src="../assets/about_logo.png">
                    <strong>About</strong>
                </a></li>
                <li><a routerLink="/experience" routerLinkActive="active" ariaCurrentWhenActive="page">
                    <img src="../assets/experience_logo.png">
                    <strong>Experience</strong>
                </a></li>
                <li><a routerLink="/education" routerLinkActive="active" ariaCurrentWhenActive="page">
                  <img src="../assets/education_logo.png">
                  <strong>Education</strong>
                </a></li>
                <li><a routerLink="/art-and-animation" routerLinkActive="active" ariaCurrentWhenActive="page">
                    <img src="../assets/art_logo.png">
                    <strong>Animations /Artwork</strong>
                  </a></li>
            </ul>
        </div>
    </nav>
    <div class="display">
        <router-outlet></router-outlet>
    </div>
  <footer>      
  </footer>

</div>


